<%= render partial: 'layouts/partials/header' %>
<div class="panel-body">
  <div class=row>
    <%= image_tag(@coctaile.image_url, class: "img-thumbnail col-sm-3 col-sm-offset-1") %>
    <div class="panel panel-info col-sm-4">
      <div class="panel-heading">
        <h1 class="panel-title">Coctaile info</h1>
      </div>
      <div class="panel-body">
        <ul>
          <li><%= "ID: #{@coctaile.id}" %></li>
          <li><%= "Name: #{@coctaile.name}" %></li>
          <li><%= "Min value: #{@coctaile.value}" %></li>
          <li><%= "Cost price: #{@coctaile.price}" %></li>
          <li><%= "Have alcohol: #{@coctaile.have_alc}" %></li>
        </ul>
      </div>
    </div>
    <div class="panel panel-info col-sm-3">
      <div class="panel-heading">
        <h1 class="panel-title">Ingredients <%= link_to 'Add ingredient', new_admin_coctaile_ingredient_path(@coctaile), class: "btn btn-default" %></h1>
      </div>
      <div class="panel-body">
        <ul>
          <% @coctaile.ingredients.each do |ingredient| %>
            <li class="row">
              <%= image_tag(ingredient.product.image_url, size: '50', class: "col-sm-3") if ingredient.product.image? %>
              <p class="col-sm-5"><%= "#{ingredient.product.name} #{ingredient.value}" %></p>
              <%= link_to 'Edit', edit_admin_coctaile_ingredient_path(@coctaile, ingredient), class: "btn btn-default col-sm-2" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
